src/flows.json
[{"id":"tab_birthday_bot","type":"tab","label":"Telegram Birthday Bot","disabled":false,"info":"Birthday reminder bot. Telegram is used through REST API calls only. Business behavior is represented as visible Node-RED nodes."},{"id":"c_webhook","type":"comment","z":"tab_birthday_bot","name":"Webhook and routing","info":"","x":180,"y":40,"wires":[]},{"id":"c_commands","type":"comment","z":"tab_birthday_bot","name":"Slash commands","info":"","x":180,"y":300,"wires":[]},{"id":"c_stateful","type":"comment","z":"tab_birthday_bot","name":"Dialog states","info":"","x":180,"y":700,"wires":[]},{"id":"c_callbacks","type":"comment","z":"tab_birthday_bot","name":"Inline button callbacks","info":"","x":180,"y":1120,"wires":[]},{"id":"c_reminders","type":"comment","z":"tab_birthday_bot","name":"Scheduled reminders","info":"","x":180,"y":1570,"wires":[]},{"id":"c_telegram","type":"comment","z":"tab_birthday_bot","name":"Telegram REST delivery","info":"","x":1710,"y":690,"wires":[]},{"id":"c_errors","type":"comment","z":"tab_birthday_bot","name":"Flow error handling","info":"","x":190,"y":1810,"wires":[]},{"id":"http_telegram_webhook","type":"http in","z":"tab_birthday_bot","name":"POST /telegram/webhook/:secret","url":"/telegram/webhook/:secret","method":"post","upload":false,"swaggerDoc":"","x":150,"y":110,"wires":[["fn_validate_webhook"]]},{"id":"fn_validate_webhook","type":"function","z":"tab_birthday_bot","name":"Validate webhook secret","func":"const expected = env.get(\"TELEGRAM_WEBHOOK_SECRET\");\nconst urlSecret = msg.req && msg.req.params && msg.req.params.secret;\nconst headerSecret = msg.req && msg.req.headers && msg.req.headers[\"x-telegram-bot-api-secret-token\"];\nif (!expected || urlSecret !== expected || headerSecret !== expected) {\n    msg.statusCode = 403;\n    msg.payload = { ok: false, error: \"forbidden\" };\n    return [null, msg];\n}\nmsg.telegramUpdate = msg.payload;\nmsg.statusCode = 200;\nmsg.payload = { ok: true };\nreturn [msg, null];","outputs":2,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":110,"wires":[["http_webhook_ok","fn_ensure_lib_webhook"],["http_webhook_forbidden"]]},{"id":"http_webhook_ok","type":"http response","z":"tab_birthday_bot","name":"200 OK","statusCode":"","headers":{},"x":900,"y":70,"wires":[]},{"id":"http_webhook_forbidden","type":"http response","z":"tab_birthday_bot","name":"403 Forbidden","statusCode":"","headers":{},"x":900,"y":150,"wires":[]},{"id":"fn_parse_update","type":"function","z":"tab_birthday_bot","name":"Parse Telegram update","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst next = await bot.parseUpdate(msg);\nreturn next || null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":230,"wires":[["fn_ensure_user"]]},{"id":"fn_ensure_user","type":"function","z":"tab_birthday_bot","name":"Ensure user profile + defaults","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst next = await bot.ensureUser(msg);\nreturn next || null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":230,"wires":[["fn_route_update"]]},{"id":"fn_route_update","type":"function","z":"tab_birthday_bot","name":"Route update type","func":"if (msg.chatType !== \"private\") return [null, null, null, null, msg, null];\nif (msg.updateKind === \"callback\") return [msg, null, null, null, null, null];\nif (msg.updateKind !== \"message\") return [null, null, null, null, null, msg];\nif (!msg.messageText) return [null, null, null, msg, null, null];\nif (msg.messageText.startsWith(\"/\")) return [null, msg, null, null, null, null];\nreturn [null, null, msg, null, null, null];","outputs":6,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":230,"wires":[["fn_answer_callback","fn_route_callback"],["fn_route_command"],["fn_load_state"],["fn_text_only_fallback"],["fn_reject_non_private"],["fn_fallback_menu"]]},{"id":"fn_answer_callback","type":"function","z":"tab_birthday_bot","name":"Answer callback query","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.answerCallback(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":80,"wires":[["link_out_routing"]]},{"id":"fn_reject_non_private","type":"function","z":"tab_birthday_bot","name":"Reject non-private chat","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.rejectNonPrivate(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":140,"wires":[["link_out_routing"]]},{"id":"fn_text_only_fallback","type":"function","z":"tab_birthday_bot","name":"Non-text message fallback","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.textOnlyFallback(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":200,"wires":[["link_out_routing"]]},{"id":"fn_fallback_menu","type":"function","z":"tab_birthday_bot","name":"Fallback: show main menu","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.fallbackMenu(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":260,"wires":[["link_out_routing"]]},{"id":"fn_route_command","type":"function","z":"tab_birthday_bot","name":"Route slash command","func":"const command = (msg.messageText || \"\").split(\" \")[0].toLowerCase();\nmsg.command = command;\nif (command === \"/start\" || command === \"/menu\") return [msg, null, null, null, null, null, null, null, null];\nif (command === \"/help\") return [null, msg, null, null, null, null, null, null, null];\nif (command === \"/cancel\") return [null, null, msg, null, null, null, null, null, null];\nif (command === \"/add\") return [null, null, null, msg, null, null, null, null, null];\nif (command === \"/list\") return [null, null, null, null, msg, null, null, null, null];\nif (command === \"/search\") return [null, null, null, null, null, msg, null, null, null];\nif (command === \"/delete\") return [null, null, null, null, null, null, msg, null, null];\nif (command === \"/settings\") return [null, null, null, null, null, null, null, msg, null];\nreturn [null, null, null, null, null, null, null, null, msg];","outputs":9,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":420,"wires":[["fn_cmd_start"],["fn_cmd_help"],["fn_cmd_cancel"],["fn_cmd_add"],["fn_cmd_list"],["fn_cmd_search"],["fn_cmd_delete"],["fn_cmd_settings"],["fn_cmd_unknown"]]},{"id":"fn_cmd_start","type":"function","z":"tab_birthday_bot","name":"Command /start and /menu","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.commandStart(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":330,"wires":[["link_out_commands"]]},{"id":"fn_cmd_help","type":"function","z":"tab_birthday_bot","name":"Command /help","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.commandHelp(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":380,"wires":[["link_out_commands"]]},{"id":"fn_cmd_cancel","type":"function","z":"tab_birthday_bot","name":"Command /cancel","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.commandCancel(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":430,"wires":[["link_out_commands"]]},{"id":"fn_cmd_add","type":"function","z":"tab_birthday_bot","name":"Command /add: ask name","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.commandAdd(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":480,"wires":[["link_out_commands"]]},{"id":"fn_cmd_list","type":"function","z":"tab_birthday_bot","name":"Command /list: render contacts","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.commandList(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":530,"wires":[["link_out_commands"]]},{"id":"fn_cmd_search","type":"function","z":"tab_birthday_bot","name":"Command /search: ask query","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.commandSearch(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":580,"wires":[["link_out_commands"]]},{"id":"fn_cmd_delete","type":"function","z":"tab_birthday_bot","name":"Command /delete: ask query","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.commandDelete(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":480,"wires":[["link_out_commands"]]},{"id":"fn_cmd_settings","type":"function","z":"tab_birthday_bot","name":"Command /settings: render settings","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.commandSettings(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":530,"wires":[["link_out_commands"]]},{"id":"fn_cmd_unknown","type":"function","z":"tab_birthday_bot","name":"Unknown command","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.commandUnknown(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":580,"wires":[["link_out_commands"]]},{"id":"fn_load_state","type":"function","z":"tab_birthday_bot","name":"Load conversation state","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst next = await bot.loadState(msg);\nreturn next || null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":760,"wires":[["fn_route_state"]]},{"id":"fn_route_state","type":"function","z":"tab_birthday_bot","name":"Route conversation state","func":"const state = msg.stateRow && msg.stateRow.state;\nif (!state) return [null, null, null, null, null, null, null, msg];\nif (state === \"waiting_contact_name\") return [msg, null, null, null, null, null, null, null];\nif (state === \"waiting_contact_birth_date\") return [null, msg, null, null, null, null, null, null];\nif (state === \"waiting_contact_username\") return [null, null, msg, null, null, null, null, null];\nif (state === \"waiting_search_query\") return [null, null, null, msg, null, null, null, null];\nif (state === \"waiting_delete_query\") return [null, null, null, null, msg, null, null, null];\nif (state === \"waiting_reminder_days\") return [null, null, null, null, null, msg, null, null];\nif (state === \"waiting_reminder_time\") return [null, null, null, null, null, null, msg, null];\nreturn [null, null, null, null, null, null, null, msg];","outputs":8,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":760,"wires":[["fn_state_contact_name"],["fn_state_birth_date"],["fn_state_username"],["fn_state_search_query"],["fn_state_delete_query"],["fn_state_reminder_days"],["fn_state_reminder_time"],["fn_state_unknown"]]},{"id":"fn_state_contact_name","type":"function","z":"tab_birthday_bot","name":"State: contact name","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.stateContactName(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":700,"wires":[["link_out_states"]]},{"id":"fn_state_birth_date","type":"function","z":"tab_birthday_bot","name":"State: birth date","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.stateBirthDate(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":750,"wires":[["link_out_states"]]},{"id":"fn_state_username","type":"function","z":"tab_birthday_bot","name":"State: Telegram username","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.stateUsername(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":800,"wires":[["link_out_states"]]},{"id":"fn_state_search_query","type":"function","z":"tab_birthday_bot","name":"State: search query","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.stateSearchQuery(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":850,"wires":[["link_out_states"]]},{"id":"fn_state_delete_query","type":"function","z":"tab_birthday_bot","name":"State: delete query","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.stateDeleteQuery(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":900,"wires":[["link_out_states"]]},{"id":"fn_state_reminder_days","type":"function","z":"tab_birthday_bot","name":"State: reminder days","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.stateReminderDays(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":810,"wires":[["link_out_states"]]},{"id":"fn_state_reminder_time","type":"function","z":"tab_birthday_bot","name":"State: reminder time","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.stateReminderTime(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":860,"wires":[["link_out_states"]]},{"id":"fn_state_unknown","type":"function","z":"tab_birthday_bot","name":"State: unknown -> menu","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.stateUnknown(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":910,"wires":[["link_out_states"]]},{"id":"fn_route_callback","type":"function","z":"tab_birthday_bot","name":"Route callback action","func":"const data = msg.callbackData || \"\";\nfunction contactId(prefix) { const value = data.slice(prefix.length); return /^\\d+$/.test(value) ? value : null; }\nif (data === \"menu:home\") return [msg, null, null, null, null, null, null, null, null, null, null, null, null];\nif (data === \"menu:add\") return [null, msg, null, null, null, null, null, null, null, null, null, null, null];\nif (data === \"menu:list\") return [null, null, msg, null, null, null, null, null, null, null, null, null, null];\nif (data === \"menu:search\") return [null, null, null, msg, null, null, null, null, null, null, null, null, null];\nif (data === \"menu:upcoming\") return [null, null, null, null, msg, null, null, null, null, null, null, null, null];\nif (data.startsWith(\"contact:delete:ask:\")) { msg.contactId = contactId(\"contact:delete:ask:\"); return msg.contactId ? [null, null, null, null, null, msg, null, null, null, null, null, null, null] : [null, null, null, null, null, null, null, null, null, null, null, null, msg]; }\nif (data.startsWith(\"contact:delete:confirm:\")) { msg.contactId = contactId(\"contact:delete:confirm:\"); return msg.contactId ? [null, null, null, null, null, null, msg, null, null, null, null, null, null] : [null, null, null, null, null, null, null, null, null, null, null, null, msg]; }\nif (data === \"contact:delete:cancel\") return [null, null, null, null, null, null, null, msg, null, null, null, null, null];\nif (data === \"menu:settings\") return [null, null, null, null, null, null, null, null, msg, null, null, null, null];\nif (data === \"settings:toggle\") return [null, null, null, null, null, null, null, null, null, msg, null, null, null];\nif (data.startsWith(\"settings:days:\")) { msg.settingValue = data.replace(\"settings:days:\", \"\"); return [null, null, null, null, null, null, null, null, null, null, msg, null, null]; }\nif (data.startsWith(\"settings:time:\")) { msg.settingValue = data.replace(\"settings:time:\", \"\"); return [null, null, null, null, null, null, null, null, null, null, null, msg, null]; }\nreturn [null, null, null, null, null, null, null, null, null, null, null, null, msg];","outputs":13,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":1180,"wires":[["fn_cb_home"],["fn_cb_add"],["fn_cb_list"],["fn_cb_search"],["fn_cb_upcoming"],["fn_cb_delete_ask"],["fn_cb_delete_confirm"],["fn_cb_delete_cancel"],["fn_cb_settings"],["fn_cb_toggle"],["fn_cb_days"],["fn_cb_time"],["fn_cb_unknown"]]},{"id":"fn_cb_home","type":"function","z":"tab_birthday_bot","name":"Callback: main menu","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.callbackHome(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1080,"wires":[["link_out_callbacks"]]},{"id":"fn_cb_add","type":"function","z":"tab_birthday_bot","name":"Callback: add contact","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.callbackAdd(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1130,"wires":[["link_out_callbacks"]]},{"id":"fn_cb_list","type":"function","z":"tab_birthday_bot","name":"Callback: list contacts","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.callbackList(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1180,"wires":[["link_out_callbacks"]]},{"id":"fn_cb_search","type":"function","z":"tab_birthday_bot","name":"Callback: search contact","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.callbackSearch(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1230,"wires":[["link_out_callbacks"]]},{"id":"fn_cb_upcoming","type":"function","z":"tab_birthday_bot","name":"Callback: upcoming birthdays","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.callbackUpcoming(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1280,"wires":[["link_out_callbacks"]]},{"id":"fn_cb_delete_ask","type":"function","z":"tab_birthday_bot","name":"Callback: ask delete confirmation","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.callbackDeleteAsk(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1130,"wires":[["link_out_callbacks"]]},{"id":"fn_cb_delete_confirm","type":"function","z":"tab_birthday_bot","name":"Callback: confirm delete","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.callbackDeleteConfirm(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1180,"wires":[["link_out_callbacks"]]},{"id":"fn_cb_delete_cancel","type":"function","z":"tab_birthday_bot","name":"Callback: cancel delete","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.callbackDeleteCancel(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1230,"wires":[["link_out_callbacks"]]},{"id":"fn_cb_settings","type":"function","z":"tab_birthday_bot","name":"Callback: settings menu","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.callbackSettings(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1280,"wires":[["link_out_callbacks"]]},{"id":"fn_cb_toggle","type":"function","z":"tab_birthday_bot","name":"Callback: toggle reminders","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.callbackToggle(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":1160,"wires":[["link_out_callbacks"]]},{"id":"fn_cb_days","type":"function","z":"tab_birthday_bot","name":"Callback: reminder days","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.callbackDays(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":1210,"wires":[["link_out_callbacks"]]},{"id":"fn_cb_time","type":"function","z":"tab_birthday_bot","name":"Callback: reminder time","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.callbackTime(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":1260,"wires":[["link_out_callbacks"]]},{"id":"fn_cb_unknown","type":"function","z":"tab_birthday_bot","name":"Callback: unknown action","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.callbackUnknown(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":1310,"wires":[["link_out_callbacks"]]},{"id":"inject_reminders","type":"inject","z":"tab_birthday_bot","name":"Check reminders every minute","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":170,"y":1630,"wires":[["fn_ensure_lib_reminder"]]},{"id":"fn_load_reminder_candidates","type":"function","z":"tab_birthday_bot","name":"Load reminder candidates","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst messages = await bot.loadReminderCandidates(msg);\nreturn messages && messages.length ? [messages] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1630,"wires":[["fn_filter_due_reminders"]]},{"id":"fn_filter_due_reminders","type":"function","z":"tab_birthday_bot","name":"Filter due reminders by time/date","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst messages = await bot.filterDueReminders(msg);\nreturn messages && messages.length ? [messages] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":1630,"wires":[["fn_log_reminder"]]},{"id":"fn_log_reminder","type":"function","z":"tab_birthday_bot","name":"Log reminder if not sent","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst next = await bot.logReminderIfNew(msg);\nreturn next || null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":1630,"wires":[["fn_build_reminder_message"]]},{"id":"fn_build_reminder_message","type":"function","z":"tab_birthday_bot","name":"Build reminder message","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Birthday bot library is not loaded\"); }\nconst requests = await bot.buildReminderMessage(msg);\nreturn requests && requests.length ? [requests] : null;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":1630,"wires":[["link_out_reminders"]]},{"id":"fn_prepare_request","type":"function","z":"tab_birthday_bot","name":"Prepare Telegram request","func":"const req = msg.payload && msg.payload.url ? msg.payload : (msg.url ? msg : null);\nif (!req || !req.url) {\n    node.warn(\"No request descriptor in msg.payload or msg.url\");\n    return null;\n}\nmsg._reqPayload = req.payload;\nmsg.url = req.url;\nmsg.method = req.method || \"POST\";\nmsg.headers = req.headers || { \"Content-Type\": \"application/json\" };\nmsg.payload = req.payload;\nreturn msg;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1720,"y":780,"wires":[["http_telegram_rest"]]},{"id":"http_telegram_rest","type":"http request","z":"tab_birthday_bot","name":"Telegram REST API","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1950,"y":780,"wires":[["fn_check_telegram_response"]]},{"id":"fn_check_telegram_response","type":"function","z":"tab_birthday_bot","name":"Check Telegram API response","func":"const response = msg.payload;\nif (msg.statusCode === 429 || (response && response.error_code === 429)) {\n    node.warn(\"Telegram rate limit: retry after \" + ((response && response.parameters && response.parameters.retry_after) || 5) + \"s\");\n    return [null, null, msg];\n}\nif (!response || response.ok !== true) {\n    msg.telegramApiError = { url: msg.url, method: msg.method, statusCode: msg.statusCode, response };\n    node.warn(\"Telegram API error: \" + JSON.stringify(response));\n    return [null, msg, null];\n}\nmsg.telegramApiResult = response.result;\nreturn [msg, null, null];","outputs":3,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2200,"y":780,"wires":[["debug_telegram_api_success"],["debug_telegram_api_error"],["fn_handle_rate_limit"]]},{"id":"debug_telegram_api_success","type":"debug","z":"tab_birthday_bot","name":"Telegram API success","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"telegramApiResult","targetType":"msg","statusVal":"","statusType":"auto","x":2480,"y":720,"wires":[]},{"id":"debug_telegram_api_error","type":"debug","z":"tab_birthday_bot","name":"Telegram API error","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"telegramApiError","targetType":"msg","statusVal":"telegramApiError.response.description","statusType":"msg","x":2480,"y":790,"wires":[]},{"id":"fn_handle_rate_limit","type":"function","z":"tab_birthday_bot","name":"Handle 429 Rate Limit","func":"const MAX_RETRIES = 3;\nconst retryCount = (msg._retryCount || 0) + 1;\nif (retryCount > MAX_RETRIES) {\n    node.warn(\"Rate limit: max retries (\" + MAX_RETRIES + \") reached for \" + msg.url + \". Dropping message.\");\n    node.status({ fill: \"red\", shape: \"dot\", text: \"Dropped after \" + MAX_RETRIES + \" retries\" });\n    return null;\n}\nconst retryAfter = (msg.payload && msg.payload.parameters && msg.payload.parameters.retry_after) || 5;\nmsg._retryCount = retryCount;\nmsg.delay = retryAfter * 1000;\nmsg.payload = msg._reqPayload;\nnode.status({ fill: \"yellow\", shape: \"dot\", text: \"429 retry \" + retryCount + \"/\" + MAX_RETRIES + \" in \" + retryAfter + \"s\" });\nreturn msg;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2200,"y":940,"wires":[["delay_rate_limit"]]},{"id":"delay_rate_limit","type":"delay","z":"tab_birthday_bot","name":"Wait retry_after","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2480,"y":940,"wires":[["http_telegram_rest"]]},{"id":"catch_errors","type":"catch","z":"tab_birthday_bot","name":"Flow errors","scope":null,"uncaught":false,"x":170,"y":1860,"wires":[["debug_errors","fn_format_error_alert"]]},{"id":"debug_errors","type":"debug","z":"tab_birthday_bot","name":"errors","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"msg","statusVal":"telegramApiError.response.description","statusType":"msg","x":400,"y":1820,"wires":[]},{"id":"fn_format_error_alert","type":"function","z":"tab_birthday_bot","name":"Format Error Alert","func":"const botToken = env.get(\"TELEGRAM_BOT_TOKEN\");\nconst adminChatId = env.get(\"ADMIN_CHAT_ID\");\nif (!adminChatId) {\n    node.warn(\"ADMIN_CHAT_ID не знайдено у файлі .env!\");\n    return null;\n}\nconst errorMsg = msg.error ? msg.error.message : \"Невідома помилка\";\nconst sourceNode = (msg.error && msg.error.source) ? (msg.error.source.name || msg.error.source.id) : \"Невідомий вузол\";\nmsg.url = \"https://api.telegram.org/bot\" + botToken + \"/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: adminChatId,\n    text: \"🚨 <b>Критична помилка в потоці!</b>\\n\\n<b>Де:</b> \" + sourceNode + \"\\n<b>Деталі:</b> <code>\" + errorMsg + \"</code>\",\n    parse_mode: \"HTML\"\n};\ndelete msg.headers;\nreturn msg;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1900,"wires":[["link_out_errors"]]},{"id":"c_init","type":"comment","z":"tab_birthday_bot","name":"Bot library initialization (runs once on deploy)","info":"","x":300,"y":190,"wires":[]},{"id":"inject_init_library","type":"inject","z":"tab_birthday_bot","name":"Init on deploy","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":170,"y":230,"wires":[["fn_init_bot_library"]]},{"id":"fn_init_bot_library","type":"function","z":"tab_birthday_bot","name":"Initialize bot library","func":"const Pool = pg.Pool;\n\nfunction requiredEnv(name) {\n    const value = env.get(name);\n    if (!value) {\n        throw new Error(\"Missing required environment variable: \" + name);\n    }\n    return value;\n}\n\nfunction getPool() {\n    let pool = flow.get(\"pgPool\");\n    if (pool) {\n        return pool;\n    }\n    pool = new Pool({\n        host: env.get(\"POSTGRES_HOST\") || \"postgres\",\n        port: Number(env.get(\"POSTGRES_PORT\") || 5432),\n        database: requiredEnv(\"POSTGRES_DB\"),\n        user: requiredEnv(\"POSTGRES_USER\"),\n        password: requiredEnv(\"POSTGRES_PASSWORD\"),\n        max: 10,\n        idleTimeoutMillis: 30000,\n        connectionTimeoutMillis: 5000\n    });\n    flow.set(\"pgPool\", pool);\n    return pool;\n}\n\nasync function query(text, values) {\n    const params = values || [];\n    if (!Array.isArray(params)) {\n        throw new Error(\"Database query values must be an array.\");\n    }\n    return getPool().query(text, params);\n}\n\nfunction telegramRequest(methodName, payload) {\n    return {\n        method: \"POST\",\n        url: \"https://api.telegram.org/bot\" + requiredEnv(\"TELEGRAM_BOT_TOKEN\") + \"/\" + methodName,\n        headers: { \"Content-Type\": \"application/json\" },\n        payload\n    };\n}\n\nfunction sendMessage(chatId, text, replyMarkup) {\n    const payload = {\n        chat_id: chatId,\n        text,\n        parse_mode: \"HTML\",\n        disable_web_page_preview: true\n    };\n    if (replyMarkup) {\n        payload.reply_markup = replyMarkup;\n    }\n    return telegramRequest(\"sendMessage\", payload);\n}\n\nfunction answerCallbackQuery(callbackQueryId, text) {\n    const payload = { callback_query_id: callbackQueryId };\n    if (text) {\n        payload.text = text;\n    }\n    return telegramRequest(\"answerCallbackQuery\", payload);\n}\n\nfunction escapeHtml(value) {\n    return String(value ?? \"\")\n        .replace(/&/g, \"&amp;\")\n        .replace(/</g, \"&lt;\")\n        .replace(/>/g, \"&gt;\")\n        .replace(/\\\"/g, \"&quot;\");\n}\n\nfunction chunkText(text, maxLength) {\n    const limit = maxLength || 3800;\n    if (text.length <= limit) {\n        return [text];\n    }\n    const chunks = [];\n    let current = \"\";\n    for (const line of text.split(\"\\n\")) {\n        if ((current + \"\\n\" + line).length > limit) {\n            if (current) chunks.push(current);\n            current = line;\n        } else {\n            current = current ? current + \"\\n\" + line : line;\n        }\n    }\n    if (current) chunks.push(current);\n    return chunks;\n}\n\nfunction formatDate(isoDate) {\n    const parts = isoDate.split(\"-\");\n    return parts[2] + \".\" + parts[1] + \".\" + parts[0];\n}\n\nfunction formatName(name) {\n    if (!name) return \"\";\n    return String(name).trim().split(/\\s+/).map(function(word) {\n        return word ? word.charAt(0).toUpperCase() + word.slice(1).toLowerCase() : \"\";\n    }).join(\" \");\n}\n\nfunction contactLine(contact) {\n    const username = contact.telegram_username ? \", \" + escapeHtml(contact.telegram_username) : \"\";\n    return escapeHtml(formatName(contact.first_name)) + \" \" + escapeHtml(formatName(contact.last_name)) + \" — \" + formatDate(contact.birth_date) + username;\n}\n\nfunction mainMenu() {\n    return { inline_keyboard: [\n        [{ text: \"Додати контакт\", callback_data: \"menu:add\" }],\n        [{ text: \"Мої контакти\", callback_data: \"menu:list\" }, { text: \"Пошук\", callback_data: \"menu:search\" }],\n        [{ text: \"Найближчі дні народження\", callback_data: \"menu:upcoming\" }],\n        [{ text: \"Налаштування нагадувань\", callback_data: \"menu:settings\" }]\n    ] };\n}\n\nfunction contactDeleteMenu(contacts) {\n    return { inline_keyboard: contacts.map(function(contact, index) {\n        return [{ text: \"Видалити \" + (index + 1), callback_data: \"contact:delete:ask:\" + contact.id }];\n    }).concat([[{ text: \"Головне меню\", callback_data: \"menu:home\" }]]) };\n}\n\nfunction deleteConfirmMenu(contactId) {\n    return { inline_keyboard: [\n        [{ text: \"Так, видалити\", callback_data: \"contact:delete:confirm:\" + contactId }],\n        [{ text: \"Скасувати\", callback_data: \"contact:delete:cancel\" }]\n    ] };\n}\n\nfunction settingsMenu(settings) {\n    const enabledText = settings.enabled ? \"Вимкнути нагадування\" : \"Увімкнути нагадування\";\n    return { inline_keyboard: [\n        [{ text: enabledText, callback_data: \"settings:toggle\" }],\n        [{ text: \"В день\", callback_data: \"settings:days:0\" }, { text: \"За 1 день\", callback_data: \"settings:days:1\" }, { text: \"За 7 днів\", callback_data: \"settings:days:7\" }],\n        [{ text: \"0,1,7\", callback_data: \"settings:days:0,1,7\" }, { text: \"Власні дні\", callback_data: \"settings:days:custom\" }],\n        [{ text: \"09:00\", callback_data: \"settings:time:09:00\" }, { text: \"12:00\", callback_data: \"settings:time:12:00\" }, { text: \"18:00\", callback_data: \"settings:time:18:00\" }],\n        [{ text: \"Власний час\", callback_data: \"settings:time:custom\" }],\n        [{ text: \"Головне меню\", callback_data: \"menu:home\" }]\n    ] };\n}\n\nfunction normalizeReminderSettings(settings) {\n    if (settings) {\n        if (!Array.isArray(settings.remind_days_before)) {\n            settings.remind_days_before = String(settings.remind_days_before || \"0\").replace(/[{}]/g, \"\").split(\",\").map(Number).filter(Number.isInteger);\n        }\n        return settings;\n    }\n    return { enabled: true, remind_days_before: [0], remind_time: \"09:00\", timezone: env.get(\"DEFAULT_TIMEZONE\") || \"Europe/Kyiv\" };\n}\n\nfunction messageChunks(chatId, text, replyMarkup) {\n    const chunks = chunkText(text);\n    return chunks.map(function(chunk, index) {\n        return sendMessage(chatId, chunk, index === chunks.length - 1 ? replyMarkup : undefined);\n    });\n}\n\nfunction renderContactList(chatId, contacts) {\n    if (!contacts.length) return [sendMessage(chatId, \"У тебе ще немає збережених контактів. Натисни «Додати контакт», щоб створити перший запис.\", mainMenu())];\n    const text = [\"<b>Твої контакти</b>\", \"\"].concat(contacts.map(function(contact, index) {\n        return (index + 1) + \". \" + contactLine(contact);\n    })).join(\"\\n\");\n    return messageChunks(chatId, text, contactDeleteMenu(contacts));\n}\n\nfunction renderSearchResults(chatId, contacts) {\n    if (!contacts.length) return [sendMessage(chatId, \"Нічого не знайдено.\", mainMenu())];\n    const text = [\"<b>Результати пошуку</b>\", \"\"].concat(contacts.map(function(contact, index) {\n        return (index + 1) + \". \" + contactLine(contact);\n    })).join(\"\\n\");\n    return messageChunks(chatId, text, mainMenu());\n}\n\nfunction renderDeleteSearchResults(chatId, contacts) {\n    if (!contacts.length) return [sendMessage(chatId, \"Нічого не знайдено.\", mainMenu())];\n    const text = [\"<b>Кого видалити?</b>\", \"\"].concat(contacts.map(function(contact, index) {\n        return (index + 1) + \". \" + contactLine(contact);\n    }), [\"\", \"Обери контакт зі списку.\"]).join(\"\\n\");\n    return messageChunks(chatId, text, contactDeleteMenu(contacts));\n}\n\nfunction renderDeleteConfirmation(chatId, contact) {\n    return [sendMessage(chatId, [\"<b>Підтвердження видалення</b>\", \"\", \"Видалити контакт?\", contactLine(contact)].join(\"\\n\"), deleteConfirmMenu(contact.id))];\n}\n\nfunction isLeapYear(year) {\n    return (year % 4 === 0 && year % 100 !== 0) || year % 400 === 0;\n}\n\nfunction dateFromParts(year, month, day) {\n    const safeMonth = month === 2 && day === 29 && !isLeapYear(year) ? 3 : month;\n    const safeDay = month === 2 && day === 29 && !isLeapYear(year) ? 1 : day;\n    return new Date(Date.UTC(year, safeMonth - 1, safeDay));\n}\n\nfunction daysUntilNextBirthday(isoDate, fromDate) {\n    const parts = isoDate.split(\"-\").map(Number);\n    const birthYear = parts[0];\n    const month = parts[1];\n    const day = parts[2];\n    const baseDate = fromDate || new Date();\n    const today = new Date(Date.UTC(baseDate.getUTCFullYear(), baseDate.getUTCMonth(), baseDate.getUTCDate()));\n    let next = dateFromParts(today.getUTCFullYear(), month, day);\n    if (next < today) next = dateFromParts(today.getUTCFullYear() + 1, month, day);\n    return { days: Math.round((next - today) / 86400000), age: next.getUTCFullYear() - birthYear, date: next.toISOString().slice(0, 10) };\n}\n\nfunction renderUpcoming(chatId, contacts) {\n    if (!contacts.length) return [sendMessage(chatId, \"Контактів поки немає.\", mainMenu())];\n    const rows = contacts.filter(function(contact) { return contact.birth_date; }).map(function(contact) {\n        return { contact, birthday: daysUntilNextBirthday(contact.birth_date) };\n    }).sort(function(a, b) { return a.birthday.days - b.birthday.days; }).slice(0, 10);\n    const text = [\"<b>Найближчі дні народження</b>\", \"\"].concat(rows.map(function(row, index) {\n        const dayLabel = row.birthday.days === 0 ? \"сьогодні\" : \"через \" + row.birthday.days + \" дн.\";\n        return (index + 1) + \". \" + contactLine(row.contact) + \" — \" + dayLabel + \", \" + row.birthday.age + \" років\";\n    })).join(\"\\n\");\n    return [sendMessage(chatId, text, mainMenu())];\n}\n\nfunction renderSettings(chatId, settings) {\n    const normalized = normalizeReminderSettings(settings);\n    const text = [\n        \"<b>Налаштування нагадувань</b>\", \"\",\n        \"Статус: \" + (normalized.enabled ? \"увімкнено\" : \"вимкнено\"),\n        \"Дні до події: \" + escapeHtml(normalized.remind_days_before.join(\", \")),\n        \"Час: \" + escapeHtml(normalized.remind_time),\n        \"Часовий пояс: \" + escapeHtml(normalized.timezone), \"\",\n        \"Обери готовий варіант або введи власні значення.\"\n    ].join(\"\\n\");\n    return [sendMessage(chatId, text, settingsMenu(normalized))];\n}\n\nfunction normalizeText(text) {\n    return String(text || \"\").replace(/\\s+/g, \" \").trim();\n}\n\nfunction parseFullName(text) {\n    const parts = normalizeText(text).split(\" \");\n    if (parts.length < 2) return null;\n    const firstName = formatName(parts[0]);\n    const lastName = formatName(parts.slice(1).join(\" \"));\n    if (firstName.length > 80 || lastName.length > 80) return null;\n    return { firstName, lastName };\n}\n\nfunction parseBirthDate(text) {\n    const now = new Date();\n    const match = normalizeText(text).match(/^(\\d{1,2})[./-](\\d{1,2})[./-](\\d{4})$/);\n    if (!match) return null;\n    const day = Number(match[1]);\n    const month = Number(match[2]);\n    const year = Number(match[3]);\n    const todayUtc = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate()));\n    const date = new Date(Date.UTC(year, month - 1, day));\n    if (year < 1900 || year > now.getUTCFullYear() || month < 1 || month > 12 || day < 1 || day > 31) return null;\n    if (date.getUTCFullYear() !== year || date.getUTCMonth() !== month - 1 || date.getUTCDate() !== day || date > todayUtc) return null;\n    return String(year).padStart(4, \"0\") + \"-\" + String(month).padStart(2, \"0\") + \"-\" + String(day).padStart(2, \"0\");\n}\n\nfunction normalizeUsername(text) {\n    const value = normalizeText(text);\n    if (!value || value === \"-\" || value.toLowerCase() === \"немає\") return null;\n    const username = value.startsWith(\"@\") ? value : \"@\" + value;\n    return /^@[A-Za-z0-9_]{5,32}$/.test(username) ? username : undefined;\n}\n\nfunction parseReminderDays(text) {\n    const allowed = new Set([0, 1, 3, 7, 14, 30]);\n    const values = normalizeText(text).split(\",\").map(function(part) { return Number(part.trim()); }).filter(Number.isInteger);\n    const unique = Array.from(new Set(values)).sort(function(a, b) { return a - b; });\n    if (!unique.length || unique.length > 5 || unique.some(function(value) { return !allowed.has(value); })) return null;\n    return unique;\n}\n\nfunction parseReminderTime(text) {\n    const match = normalizeText(text).match(/^([01]\\d|2[0-3]):([0-5]\\d)$/);\n    return match ? match[1] + \":\" + match[2] : null;\n}\n\nasync function ensureUser(telegramUser, chatId) {\n    const timezone = env.get(\"DEFAULT_TIMEZONE\") || \"Europe/Kyiv\";\n    const result = await query([\n        \"INSERT INTO app_users (telegram_user_id, chat_id, username, first_name, last_name, language_code, timezone)\",\n        \"VALUES ($1, $2, $3, $4, $5, $6, $7)\",\n        \"ON CONFLICT (telegram_user_id)\",\n        \"DO UPDATE SET chat_id = EXCLUDED.chat_id, username = EXCLUDED.username, first_name = EXCLUDED.first_name,\",\n        \"last_name = EXCLUDED.last_name, language_code = EXCLUDED.language_code, updated_at = now()\",\n        \"RETURNING *\"\n    ].join(\" \"), [telegramUser.id, chatId, telegramUser.username || null, telegramUser.first_name || null, telegramUser.last_name || null, telegramUser.language_code || null, timezone]);\n    const user = result.rows[0];\n    await query(\"INSERT INTO reminder_settings (user_id, remind_days_before, timezone) VALUES ($1, $2::int[], $3) ON CONFLICT (user_id) DO NOTHING\", [user.id, [0], timezone]);\n    return user;\n}\n\nasync function getState(userId) {\n    const result = await query(\"SELECT state, data FROM conversation_states WHERE user_id = $1\", [userId]);\n    return result.rows[0] || null;\n}\n\nasync function setState(userId, state, data) {\n    await query(\"INSERT INTO conversation_states (user_id, state, data) VALUES ($1, $2, $3::jsonb) ON CONFLICT (user_id) DO UPDATE SET state = EXCLUDED.state, data = EXCLUDED.data, updated_at = now()\", [userId, state, JSON.stringify(data || {})]);\n}\n\nasync function clearState(userId) {\n    await query(\"DELETE FROM conversation_states WHERE user_id = $1\", [userId]);\n}\n\nasync function getContacts(userId, limit) {\n    const result = await query(\"SELECT id, first_name, last_name, telegram_username, to_char(birth_date, 'YYYY-MM-DD') AS birth_date FROM contacts WHERE owner_user_id = $1 ORDER BY last_name_key, first_name_key, birth_date LIMIT $2\", [userId, limit || 100]);\n    return result.rows;\n}\n\nasync function getContactById(userId, contactId) {\n    const result = await query(\"SELECT id, first_name, last_name, telegram_username, to_char(birth_date, 'YYYY-MM-DD') AS birth_date FROM contacts WHERE id = $1 AND owner_user_id = $2\", [contactId, userId]);\n    return result.rows[0] || null;\n}\n\nasync function addOrUpdateContact(userId, data) {\n    const result = await query(\"INSERT INTO contacts (owner_user_id, first_name, last_name, birth_date, telegram_username) VALUES ($1, $2, $3, $4::date, $5) ON CONFLICT (owner_user_id, first_name_key, last_name_key, birth_date) DO UPDATE SET telegram_username = EXCLUDED.telegram_username, updated_at = now() RETURNING first_name, last_name, telegram_username, to_char(birth_date, 'YYYY-MM-DD') AS birth_date\", [userId, data.firstName, data.lastName, data.birthDate, data.telegramUsername]);\n    return result.rows[0];\n}\n\nfunction escapeLike(str) {\n    return str.replace(/[%_\\\\]/g, \"\\\\$&\");\n}\n\nasync function searchContacts(userId, searchQuery) {\n    const likeQuery = \"%\" + escapeLike(searchQuery.toLowerCase()) + \"%\";\n    const result = await query(\"SELECT id, first_name, last_name, telegram_username, to_char(birth_date, 'YYYY-MM-DD') AS birth_date FROM contacts WHERE owner_user_id = $1 AND (first_name_key LIKE $2 OR last_name_key LIKE $2 OR (first_name_key || ' ' || last_name_key) LIKE $2) ORDER BY last_name_key, first_name_key LIMIT $3\", [userId, likeQuery, 20]);\n    return result.rows;\n}\n\nasync function deleteContact(userId, contactId) {\n    const result = await query(\"DELETE FROM contacts WHERE id = $1 AND owner_user_id = $2 RETURNING id, first_name, last_name, telegram_username, to_char(birth_date, 'YYYY-MM-DD') AS birth_date\", [contactId, userId]);\n    return result.rows[0] || null;\n}\n\nasync function getSettings(userId) {\n    const result = await query(\"SELECT enabled, remind_days_before, to_char(remind_time, 'HH24:MI') AS remind_time, timezone FROM reminder_settings WHERE user_id = $1\", [userId]);\n    return normalizeReminderSettings(result.rows[0]);\n}\n\nasync function toggleSettings(userId) {\n    await query(\"UPDATE reminder_settings SET enabled = NOT enabled, updated_at = now() WHERE user_id = $1\", [userId]);\n}\n\nasync function updateSettingsDays(userId, days) {\n    await query(\"UPDATE reminder_settings SET remind_days_before = $2::int[], updated_at = now() WHERE user_id = $1\", [userId, days]);\n}\n\nasync function updateSettingsTime(userId, time) {\n    await query(\"UPDATE reminder_settings SET remind_time = $2::time, updated_at = now() WHERE user_id = $1\", [userId, time]);\n}\n\nfunction normalizeBirthdayDate(year, month, day) {\n    if (month === 2 && day === 29 && !isLeapYear(year)) return { year, month: 3, day: 1 };\n    return { year, month, day };\n}\n\nfunction toIsoDate(year, month, day) {\n    return String(year).padStart(4, \"0\") + \"-\" + String(month).padStart(2, \"0\") + \"-\" + String(day).padStart(2, \"0\");\n}\n\nfunction localParts(timezone, now) {\n    const formatter = new Intl.DateTimeFormat(\"en-CA\", { timeZone: timezone, year: \"numeric\", month: \"2-digit\", day: \"2-digit\", hour: \"2-digit\", minute: \"2-digit\", hour12: false, hourCycle: \"h23\" });\n    const parts = Object.fromEntries(formatter.formatToParts(now || new Date()).map(function(part) { return [part.type, part.value]; }));\n    return { year: Number(parts.year), month: Number(parts.month), day: Number(parts.day), hour: parts.hour, minute: parts.minute };\n}\n\nfunction addDays(year, month, day, days) {\n    const date = new Date(Date.UTC(year, month - 1, day + Number(days)));\n    return { year: date.getUTCFullYear(), month: date.getUTCMonth() + 1, day: date.getUTCDate() };\n}\n\nfunction birthdayMatchesTarget(birthDateIso, target) {\n    const parts = birthDateIso.split(\"-\").map(Number);\n    const normalized = normalizeBirthdayDate(target.year, parts[1], parts[2]);\n    return normalized.month === target.month && normalized.day === target.day;\n}\n\nfunction reminderText(row, birthdayDate, daysBefore) {\n    const name = escapeHtml(row.first_name) + \" \" + escapeHtml(row.last_name);\n    const username = row.telegram_username ? \"\\nTelegram: \" + escapeHtml(row.telegram_username) : \"\";\n    const age = birthdayDate.year - Number(row.birth_date.split(\"-\")[0]);\n    const lead = daysBefore === 0 ? \"Сьогодні день народження у \" + name + \".\" : \"Через \" + daysBefore + \" дн. день народження у \" + name + \".\";\n    return [\"<b>Нагадування</b>\", \"\", lead, \"Дата: \" + String(birthdayDate.day).padStart(2, \"0\") + \".\" + String(birthdayDate.month).padStart(2, \"0\") + \".\" + birthdayDate.year, \"Виповнюється: \" + age + \" років\", username].filter(Boolean).join(\"\\n\");\n}\n\nconst bot = {\n    parseUpdate(msg) {\n        const update = msg.telegramUpdate || msg.payload;\n        msg.telegramUpdate = update;\n        if (update.callback_query) {\n            const callback = update.callback_query;\n            msg.updateKind = \"callback\";\n            msg.chatId = callback.message.chat.id;\n            msg.chatType = callback.message.chat.type;\n            msg.telegramUser = callback.from;\n            msg.callbackQueryId = callback.id;\n            msg.callbackData = callback.data || \"\";\n            return msg;\n        }\n        if (update.message) {\n            const message = update.message;\n            msg.updateKind = \"message\";\n            msg.chatId = message.chat.id;\n            msg.chatType = message.chat.type;\n            msg.telegramUser = message.from;\n            msg.messageText = normalizeText(message.text);\n            return msg;\n        }\n        return null;\n    },\n    async ensureUser(msg) { msg.user = await ensureUser(msg.telegramUser, msg.chatId); return msg; },\n    answerCallback(msg) { return [answerCallbackQuery(msg.callbackQueryId)]; },\n    rejectNonPrivate(msg) { return [sendMessage(msg.chatId, \"З міркувань приватності я працюю тільки в особистому чаті.\")]; },\n    textOnlyFallback(msg) { return [sendMessage(msg.chatId, \"Поки що я розумію лише текстові повідомлення.\", mainMenu())]; },\n    fallbackMenu(msg) { return [sendMessage(msg.chatId, \"Обери дію в меню або введи /help.\", mainMenu())]; },\n    async loadState(msg) { msg.stateRow = await getState(msg.user.id); return msg; },\n    async commandStart(msg) { await clearState(msg.user.id); return [sendMessage(msg.chatId, \"Вітаю! Я допоможу зберігати дні народження контактів і вчасно нагадувати про них.\", mainMenu())]; },\n    async commandHelp(msg) { await clearState(msg.user.id); return [sendMessage(msg.chatId, [\"<b>Команди</b>\", \"/start — головне меню\", \"/add — додати контакт\", \"/list — список контактів\", \"/search — знайти день народження\", \"/delete — видалити контакт\", \"/settings — налаштування нагадувань\", \"/cancel — скасувати поточну дію\"].join(\"\\n\"), mainMenu())]; },\n    async commandCancel(msg) { await clearState(msg.user.id); return [sendMessage(msg.chatId, \"Дію скасовано.\", mainMenu())]; },\n    async commandAdd(msg) { await setState(msg.user.id, \"waiting_contact_name\"); return [sendMessage(msg.chatId, \"Введи імʼя та прізвище контакту, наприклад: Іван Петренко\")]; },\n    async commandList(msg) { await clearState(msg.user.id); return renderContactList(msg.chatId, await getContacts(msg.user.id)); },\n    async commandSearch(msg) { await setState(msg.user.id, \"waiting_search_query\"); return [sendMessage(msg.chatId, \"Введи імʼя або прізвище для пошуку.\")]; },\n    async commandDelete(msg) { await setState(msg.user.id, \"waiting_delete_query\"); return [sendMessage(msg.chatId, \"Введи імʼя або прізвище контакту, який потрібно видалити.\")]; },\n    async commandSettings(msg) { await clearState(msg.user.id); return renderSettings(msg.chatId, await getSettings(msg.user.id)); },\n    commandUnknown(msg) { return [sendMessage(msg.chatId, \"Такої команди немає. Скористайся меню.\", mainMenu())]; },\n    async stateContactName(msg) { const fullName = parseFullName(msg.messageText); if (!fullName) return [sendMessage(msg.chatId, \"Введи імʼя та прізвище двома словами, наприклад: Іван Петренко\")]; await setState(msg.user.id, \"waiting_contact_birth_date\", fullName); return [sendMessage(msg.chatId, \"Тепер введи дату народження у форматі ДД.ММ.РРРР, наприклад: 14.08.1999\")]; },\n    async stateBirthDate(msg) { const birthDate = parseBirthDate(msg.messageText); if (!birthDate) return [sendMessage(msg.chatId, \"Дата має бути реальною і з роком: ДД.ММ.РРРР. Спробуй ще раз.\")]; await setState(msg.user.id, \"waiting_contact_username\", Object.assign({}, msg.stateRow.data, { birthDate })); return [sendMessage(msg.chatId, \"Введи Telegram нік контакту, наприклад @username. Якщо його немає, введи «-».\")]; },\n    async stateUsername(msg) { const username = normalizeUsername(msg.messageText); if (username === undefined) return [sendMessage(msg.chatId, \"Telegram нік має бути у форматі @username, 5-32 символи: латиниця, цифри або _. Або введи «-».\")]; const contact = await addOrUpdateContact(msg.user.id, Object.assign({}, msg.stateRow.data, { telegramUsername: username })); await clearState(msg.user.id); return [sendMessage(msg.chatId, \"Готово, контакт збережено:\\n\" + contactLine(contact), mainMenu())]; },\n    async stateSearchQuery(msg) { const searchQuery = normalizeText(msg.messageText); if (searchQuery.length < 2) return [sendMessage(msg.chatId, \"Введи хоча б 2 символи для пошуку.\")]; const contacts = await searchContacts(msg.user.id, searchQuery); await clearState(msg.user.id); return renderSearchResults(msg.chatId, contacts); },\n    async stateDeleteQuery(msg) { const searchQuery = normalizeText(msg.messageText); if (searchQuery.length < 2) return [sendMessage(msg.chatId, \"Введи хоча б 2 символи для пошуку контакту.\")]; const contacts = await searchContacts(msg.user.id, searchQuery); await clearState(msg.user.id); return renderDeleteSearchResults(msg.chatId, contacts); },\n    async stateReminderDays(msg) { const days = parseReminderDays(msg.messageText); if (!days) return [sendMessage(msg.chatId, \"Введи дні через кому. Доступні значення: 0, 1, 3, 7, 14, 30.\")]; await updateSettingsDays(msg.user.id, days); await clearState(msg.user.id); return renderSettings(msg.chatId, await getSettings(msg.user.id)); },\n    async stateReminderTime(msg) { const time = parseReminderTime(msg.messageText); if (!time) return [sendMessage(msg.chatId, \"Введи час у форматі HH:MM, наприклад 09:00 або 18:30.\")]; await updateSettingsTime(msg.user.id, time); await clearState(msg.user.id); return renderSettings(msg.chatId, await getSettings(msg.user.id)); },\n    async stateUnknown(msg) { await clearState(msg.user.id); return [sendMessage(msg.chatId, \"Не впізнав дію. Повертаю головне меню.\", mainMenu())]; },\n    async callbackHome(msg) { await clearState(msg.user.id); return [sendMessage(msg.chatId, \"Головне меню\", mainMenu())]; },\n    async callbackAdd(msg) { await setState(msg.user.id, \"waiting_contact_name\"); return [sendMessage(msg.chatId, \"Введи імʼя та прізвище контакту, наприклад: Іван Петренко\")]; },\n    async callbackList(msg) { await clearState(msg.user.id); return renderContactList(msg.chatId, await getContacts(msg.user.id)); },\n    async callbackSearch(msg) { await setState(msg.user.id, \"waiting_search_query\"); return [sendMessage(msg.chatId, \"Введи імʼя або прізвище для пошуку.\")]; },\n    async callbackUpcoming(msg) { await clearState(msg.user.id); return renderUpcoming(msg.chatId, await getContacts(msg.user.id)); },\n    async callbackDeleteAsk(msg) { await clearState(msg.user.id); const contact = await getContactById(msg.user.id, msg.contactId); return contact ? renderDeleteConfirmation(msg.chatId, contact) : [sendMessage(msg.chatId, \"Контакт уже видалено або не знайдено.\", mainMenu())]; },\n    async callbackDeleteConfirm(msg) { await clearState(msg.user.id); const deleted = await deleteContact(msg.user.id, msg.contactId); return deleted ? [sendMessage(msg.chatId, \"Контакт видалено:\\n\" + contactLine(deleted), mainMenu())] : [sendMessage(msg.chatId, \"Контакт уже видалено або не знайдено.\", mainMenu())]; },\n    async callbackDeleteCancel(msg) { await clearState(msg.user.id); return [sendMessage(msg.chatId, \"Видалення скасовано.\", mainMenu())]; },\n    async callbackSettings(msg) { await clearState(msg.user.id); return renderSettings(msg.chatId, await getSettings(msg.user.id)); },\n    async callbackToggle(msg) { await toggleSettings(msg.user.id); return renderSettings(msg.chatId, await getSettings(msg.user.id)); },\n    async callbackDays(msg) { if (msg.settingValue === \"custom\") { await setState(msg.user.id, \"waiting_reminder_days\"); return [sendMessage(msg.chatId, \"Введи дні через кому. Доступні значення: 0, 1, 3, 7, 14, 30.\")]; } const days = parseReminderDays(msg.settingValue); if (days) await updateSettingsDays(msg.user.id, days); return renderSettings(msg.chatId, await getSettings(msg.user.id)); },\n    async callbackTime(msg) { if (msg.settingValue === \"custom\") { await setState(msg.user.id, \"waiting_reminder_time\"); return [sendMessage(msg.chatId, \"Введи час у форматі HH:MM, наприклад 09:00 або 18:30.\")]; } const time = parseReminderTime(msg.settingValue); if (time) await updateSettingsTime(msg.user.id, time); return renderSettings(msg.chatId, await getSettings(msg.user.id)); },\n    callbackUnknown(msg) { return [sendMessage(msg.chatId, \"Не впізнав дію. Повертаю меню.\", mainMenu())]; },\n    async loadReminderCandidates(msg) { const result = await query(\"SELECT u.id AS user_id, u.chat_id, rs.remind_days_before, to_char(rs.remind_time, 'HH24:MI') AS remind_time, rs.timezone, c.id AS contact_id, c.first_name, c.last_name, c.telegram_username, to_char(c.birth_date, 'YYYY-MM-DD') AS birth_date FROM reminder_settings rs JOIN app_users u ON u.id = rs.user_id JOIN contacts c ON c.owner_user_id = u.id WHERE rs.enabled = TRUE\", []); return result.rows.map(function(row) { return { payload: msg.payload, reminderRow: row }; }); },\n    filterDueReminders(msg) { const row = msg.reminderRow; const timezone = row.timezone || env.get(\"DEFAULT_TIMEZONE\") || \"Europe/Kyiv\"; const local = localParts(timezone); if ((local.hour + \":\" + local.minute) !== row.remind_time) return []; const values = Array.isArray(row.remind_days_before) ? row.remind_days_before : String(row.remind_days_before || \"0\").replace(/[{}]/g, \"\").split(\",\"); const messages = []; for (const raw of values) { const daysBefore = Number(raw); if (!Number.isInteger(daysBefore)) continue; const target = addDays(local.year, local.month, local.day, daysBefore); if (!birthdayMatchesTarget(row.birth_date, target)) continue; const birthParts = row.birth_date.split(\"-\").map(Number); const birthdayDate = normalizeBirthdayDate(target.year, birthParts[1], birthParts[2]); messages.push({ reminderRow: row, reminder: { daysBefore, birthdayDate, remindForDate: toIsoDate(birthdayDate.year, birthdayDate.month, birthdayDate.day) } }); } return messages; },\n    async logReminderIfNew(msg) { const row = msg.reminderRow; const reminder = msg.reminder; const inserted = await query(\"INSERT INTO reminder_log (user_id, contact_id, remind_for_date, days_before) VALUES ($1, $2, $3::date, $4) ON CONFLICT (user_id, contact_id, remind_for_date, days_before) DO NOTHING RETURNING id\", [row.user_id, row.contact_id, reminder.remindForDate, reminder.daysBefore]); return inserted.rowCount === 0 ? null : msg; },\n    buildReminderMessage(msg) { return [sendMessage(msg.reminderRow.chat_id, reminderText(msg.reminderRow, msg.reminder.birthdayDate, msg.reminder.daysBefore))]; }\n};\n\nflow.set(\"birthdayBot\", bot);\nreturn msg;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"const pool = flow.get(\"pgPool\");\nif (pool) {\n    pool.end().catch(function(error) { node.warn(error.message); });\n    flow.set(\"pgPool\", null);\n}","libs":[{"var":"pg","module":"pg"}],"x":420,"y":230,"wires":[[]]},{"id":"fn_ensure_lib_webhook","type":"function","z":"tab_birthday_bot","name":"Ensure bot library","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Bot library not initialized. Restart Node-RED.\"); }\nreturn msg;","outputs":1,"timeout":10,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":110,"wires":[["fn_parse_update"]]},{"id":"fn_ensure_lib_reminder","type":"function","z":"tab_birthday_bot","name":"Ensure bot library","func":"const bot = flow.get(\"birthdayBot\");\nif (!bot) { throw new Error(\"Bot library not initialized. Restart Node-RED.\"); }\nreturn msg;","outputs":1,"timeout":10,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1630,"wires":[["fn_load_reminder_candidates"]]},{"id":"http_health_in","type":"http in","z":"tab_birthday_bot","name":"GET /health","url":"/health","method":"get","upload":false,"swaggerDoc":"","x":1710,"y":40,"wires":[["fn_health_check"]]},{"id":"fn_health_check","type":"function","z":"tab_birthday_bot","name":"Health check","func":"const bot = flow.get(\"birthdayBot\");\nmsg.statusCode = bot ? 200 : 503;\nmsg.payload = { status: bot ? \"ok\" : \"initializing\", timestamp: new Date().toISOString() };\nreturn msg;","outputs":1,"timeout":10,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1900,"y":40,"wires":[["http_health_out"]]},{"id":"http_health_out","type":"http response","z":"tab_birthday_bot","name":"Health response","statusCode":"","headers":{},"x":2110,"y":40,"wires":[]},{"id":"status_telegram_api","type":"status","z":"tab_birthday_bot","name":"Monitor Telegram API","scope":["http_telegram_rest"],"x":2470,"y":860,"wires":[["debug_telegram_status"]]},{"id":"debug_telegram_status","type":"debug","z":"tab_birthday_bot","name":"API status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"status","targetType":"msg","statusVal":"","statusType":"auto","x":2670,"y":860,"wires":[]},{"id":"link_in_telegram","type":"link in","z":"tab_birthday_bot","name":"→ Telegram API","links":["link_out_routing","link_out_commands","link_out_states","link_out_callbacks","link_out_reminders","link_out_errors"],"x":1520,"y":780,"wires":[["fn_prepare_request"]]},{"id":"link_out_routing","type":"link out","z":"tab_birthday_bot","name":"→ Telegram (routing)","mode":"link","links":["link_in_telegram"],"x":1940,"y":170,"wires":[]},{"id":"link_out_commands","type":"link out","z":"tab_birthday_bot","name":"→ Telegram (commands)","mode":"link","links":["link_in_telegram"],"x":1100,"y":460,"wires":[]},{"id":"link_out_states","type":"link out","z":"tab_birthday_bot","name":"→ Telegram (states)","mode":"link","links":["link_in_telegram"],"x":1360,"y":810,"wires":[]},{"id":"link_out_callbacks","type":"link out","z":"tab_birthday_bot","name":"→ Telegram (callbacks)","mode":"link","links":["link_in_telegram"],"x":1510,"y":1200,"wires":[]},{"id":"link_out_reminders","type":"link out","z":"tab_birthday_bot","name":"→ Telegram (reminders)","mode":"link","links":["link_in_telegram"],"x":1870,"y":1630,"wires":[]},{"id":"link_out_errors","type":"link out","z":"tab_birthday_bot","name":"→ Telegram (errors)","mode":"link","links":["link_in_telegram"],"x":690,"y":1900,"wires":[]}]